/* Overriding vuetify defaults */
[class*="text-"],
button,
p {
  font-family: "Kumbh Sans", sans-serif !important;
}

.v-container {
  padding: 1rem 20% !important;
}

@media only screen and (max-width: 600px) {
  .v-container {
    padding: 1rem !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 960px) {
  .v-container {
    padding: 1rem 3rem !important;
  }
}
@media only screen and (min-width: 960px) {
  .v-container {
    padding: 1rem 1% !important;
  }
}
@media only screen and (min-width: 1280px) {
  .v-container {
    max-width: calc(100% - 25%) !important;
  }
}

@media only screen and (min-width: 1920px) {
  .v-container {
    max-width: calc(100% - 35%) !important;
    /* background: rebeccapurple; */
  }
}

.v-app-bar {
  position: sticky !important;
  top: 0 !important;
}

.d-flex {
  display: flex;
}

.v-chip {
  padding: 1.5rem !important;
}
